.cache
.config
.fnm
.lobal
.localhost
.npm
.oh-my-zsh
.ssh
.tmux
.vscode-server
web
dev
training
makerx
wordpress
.ssh_func
.zsh_history
.zcompdump*
.viminfo
.wget-hsts
.sudo_as_admin_successful
.check_git
.yarnrc
.aspnet
.azurefunctions
.local
Documents
.bash_history
.python_history
.tunnelto
tmp
.codealike/
.env
.twilio-cli/
.npmrc
.twilio-cli/node_modules
.twilio-cli/yarn
.netlify/config.json
.pki
.dotnet
.azure-functions-core-tools
.ngrok
.azure
.netrc
.vim/.netrwhist
caddy.config.json
.motd_shown
.doppler
.degit/github/withastro
.gnupg/trustdb.gpg
.deque/distinct_id
.dbus
.docker
MagiskOnWSALocal
.codealike
.aws
.redhat
Caddyfile
.GoSungrow
data
.sonarlint
.opencommit
.vscode-remote-containers
.agents
.aitk
.copilot
.net
.azcopy
.nuget
.microsoft
.ServiceHub
.vscode-remote-containers
.opencommit
.psql_history
.opencommit_migrations
.mozilla/*
.vscode-remote-containers
.docker
.copilot
snap
.claude/
.claude.json
.expo/
.claude.json
.agents/
.aitk/
.claude/
.copilot/
.homebrew/
docker/
functions/__pycache__/
.fontconfig/
