[user]
	email = amy@kapers.dev
	name = Amy Kapernick
	username = amykapernick
[init]
	defaultBranch = prod
[push]
	default = current
[core]
	excludesfile = /home/amy/.gitignore_global

[includeIf "gitdir:~/web/"]
	path=~/web/.gitconfig_include
[pull]
	rebase = false
[maintenance]
	repo = /home/amy
	repo = /home/amy/.oh-my-zsh/plugins/zsh-autocomplete
	repo = /home/amy/.oh-my-zsh/plugins/zsh-snap
