[user]
	email = amy@kapers.dev
	name = Amy Kapernick
	username = amykapernick
[init]
	defaultBranch = prod
[push]
	default = current
[core]
	excludesfile = /home/amy/.gitignore_global

[includeIf "gitdir:~/web/"]
	path=~/web/.gitconfig_include
[pull]
	rebase = false
