[user]
	email = amy@kapers.dev
	name = Amy Kapernick
	username = amykapernick
[init]
	defaultBranch = prod
[push]
	default = current
	autoSetupRemote = true
[core]
	excludesfile = /home/amy/.gitignore_global

[includeIf "gitdir:~/web/"]
	path=~/web/.gitconfig_include
[includeIf "gitdir:~/makerx/"]
	path=~/makerx/.gitconfig
[pull]
	rebase = false
[maintenance]
	repo = /home/amy
[pager]
	branch = false
